<!-- Filtres -->
<div class="filters">
    <!-- Filtre par catégorie -->
    <div class="filter-item">
      <label for="category-select">Catégorie</label>
      <select id="category-select" (change)="filterServices()" [(ngModel)]="selectedCategory">
        <option value="">Toutes les catégories</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
  
    <!-- Filtre par prix -->
    <div class="filter-item">
      <label for="price-range">Prix max</label>
      <input id="price-range" type="range" min="0" [max]="maxPrice" [(ngModel)]="maxPriceFilter" (input)="filterServices()" />
      <span>{{ maxPriceFilter }} €</span>
    </div>
  
    <!-- Bouton de réinitialisation -->
    <button class="reset-button" (click)="resetFilters()">Réinitialiser</button>
  </div>
  
  <!-- Conteneur des services -->
  <div class="service-container">
    <div *ngFor="let service of filteredServices" class="service-card">
      <img *ngIf="service.image" [src]="service.image" alt="Image de {{ service.title }}" class="service-image" />
      <div class="service-details">
        <h3 class="service-title">{{ service.title }}</h3>
        <p class="service-description">{{ service.description }}</p>
        <p class="service-price">Prix : {{ service.price }} €</p>
        <button class="select-button" (click)="selectService(service)">Réserver</button>
      </div>
    </div>
  </div>
  