<div class="container mt-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="col-md-6">
    <div class="card shadow-lg p-4" style="margin-top: 50px;">
      <div class="card-body">
        <h3 class="text-center mb-4 text-primary">Inscription</h3>

        <!-- Message d'erreur -->
        <div class="alert alert-danger" *ngIf="err">
          <strong>{{ err }}</strong>
        </div>

        <!-- Formulaire -->
        <form [formGroup]="myForm" (ngSubmit)="onRegister()">

          <!-- Nom d'utilisateur -->
          <div class="form-group mb-3">
            <label for="username" class="form-label">Nom d'utilisateur :</label>
            <input id="username" type="text" name="username" class="form-control"
              formControlName="username" placeholder="Entrez votre nom d'utilisateur" required>
            <small *ngIf="submitted && myForm.controls['username'].hasError('required')" class="text-danger">
              Nom d'utilisateur est obligatoire
            </small>
          </div>
          <!-- Prénom -->
          <div class="form-group mb-3">
            <label for="prenom" class="form-label">Prénom :</label>
            <input id="prenom" type="text" name="prenom" class="form-control"
              formControlName="prenom" placeholder="Entrez votre prénom" required>
            <small *ngIf="submitted && myForm.controls['prenom'].hasError('required')" class="text-danger">
              Prénom est obligatoire
            </small>
          </div>
          

          <!-- Adresse -->
          <div class="form-group mb-3">
            <label for="adress" class="form-label">Adresse :</label>
            <input id="adress" type="text" name="adress" class="form-control"
              formControlName="adress" placeholder="Entrez votre adresse" required>
            <small *ngIf="submitted && myForm.controls['adress'].hasError('required')" class="text-danger">
              Adresse est obligatoire
            </small>
          </div>

          <!-- Téléphone -->
          <div class="form-group mb-3">
            <label for="tel" class="form-label">Numéro de téléphone :</label>
            <input id="tel" type="text" name="tel" class="form-control"
              formControlName="tel" placeholder="Entrez votre numéro de téléphone" required>
            <small *ngIf="submitted && myForm.controls['tel'].hasError('required')" class="text-danger">
              Numéro de téléphone est obligatoire
            </small>
          </div>

          <!-- SIRET -->
          <div class="form-group mb-3">
            <label for="siret" class="form-label">SIRET :</label>
            <input id="siret" type="text" name="siret" class="form-control"
              formControlName="siret" placeholder="Entrez votre numéro SIRET" required>
            <small *ngIf="submitted && myForm.controls['siret'].hasError('required')" class="text-danger">
              SIRET est obligatoire
            </small>
          </div>

          <!-- Rôle -->
          <div class="form-group mb-3">
            <label for="role" class="form-label">Rôle :</label>
            <select id="role" name="role" class="form-control"
              formControlName="role" required>
              <option value="" disabled selected>Choisissez votre rôle</option>
              <option value="CLIENT">Client</option>
              <option value="PRESTATAIRE">Prestataire</option>
            </select>
            <small *ngIf="submitted && myForm.controls['role'].hasError('required')" class="text-danger">
              Rôle est obligatoire
            </small>
          </div>

          

          <!-- Email -->
          <div class="form-group mb-3">
            <label for="email" class="form-label">Email :</label>
            <input id="email" type="email" name="email" class="form-control"
              formControlName="email" placeholder="Entrez votre email" required>
            <small *ngIf="submitted && myForm.controls['email'].hasError('required')" class="text-danger">
              Email est obligatoire
            </small>
            <small *ngIf="submitted && myForm.controls['email'].hasError('email')" class="text-danger">
              Email non valide
            </small>
          </div>

          <!-- Mot de passe -->
          <div class="form-group mb-3">
            <label for="password" class="form-label">Mot de passe :</label>
            <input id="password" type="password" name="password" class="form-control"
              formControlName="password" placeholder="Entrez votre mot de passe" required>
            <small *ngIf="submitted && myForm.controls['password'].hasError('required')" class="text-danger">
              Mot de passe est obligatoire
            </small>
            <small *ngIf="submitted && myForm.controls['password'].hasError('minlength')" class="text-danger">
              Mot de passe doit contenir au moins 8 caractères
            </small>
            <small *ngIf="submitted && myForm.controls['password'].hasError('weakPassword')" class="text-danger">
              Le mot de passe doit contenir au moins une majuscule, un chiffre et un caractère spécial.
            </small>
          </div>

          <!-- Confirmer mot de passe -->
          <div class="form-group mb-4">
            <label for="confirmPassword" class="form-label">Confirmer mot de passe :</label>
            <input id="confirmPassword" type="password" name="confirmPassword" class="form-control"
              formControlName="confirmPassword" placeholder="Confirmez votre mot de passe" required>
            <small *ngIf="submitted && myForm.hasError('notMatching')" class="text-danger">
              Les mots de passe ne correspondent pas
            </small>
          </div>

          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
